

<div class="container">
    <div class="row">
        <h3>Busqueda de Ordenanzas</h3>
    </div>
    <div class="row">
        <h4>Filtros:</h4>
        <div class="panel panel-default">
            <div class="panel-body form-horizontal">
                <div class="form-group">
                    <label for="cliente" class="col-sm-3 control-label">Año:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="cliente" name="cliente" placeholder="código de cliente a buscar" ng-model="search.Ordenanzaanio">
                    </div>
                </div>                            
                <div class="form-group">
                    <label for="concepto" class="col-sm-3 control-label">Tema:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="concepto" name="concepto" placeholder="concepto a buscar" ng-model="search.Ordenanzatema">
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="col-sm-3 control-label">Unidad:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="descripción a buscar" ng-model="search.Ordenanzaunidad">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="descripcion" class="col-sm-3 control-label">Nro.Ordenanza</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="descripción a buscar" ng-model="search.Ordenanzanumero">
                    </div>
                </div> 

                <div class="form-group">
                    <div class="col-sm-12 text-right">
<!--
                        <button class="btn btn-info preview-add-button" id="btnBuscar">
                            <span class="glyphicon glyphicon-search"></span> Buscar
                        </button>-->

                        <button class="btn btn-info preview-add-button" id="btnBorrar" ng-click="limpiarInputs()">
                            <span class="glyphicon glyphicon-trash"></span> Limpiar
                        </button>
                    </div>
                </div>
            </div>
        </div>            
    </div> <!-- / panel preview -->

    <div class="row">
        <div class="col-xs-12 text-center">
            <div id="cargando" style="display: none; color:#ff0000;">Cargando...</div> <!-- Establezco el estilo del mensaje de carga -->

            <table class="table table-striped table-responsive" id="tblPagos" ng-table="tableParams">
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="ordenarPor('Ordenanzaanio')">
                                Año
                            </a>
                            <span class="caret" style="cursor:pointer" ng-click="ordenarPor('-Ordenanzaanio')"></span>
                        </th>
                        <th>
                            <a href="" ng-click="ordenarPor('Ordenanzanumero')">
                                Numero
                            </a>
                            <span class="caret" style="cursor:pointer" ng-click="ordenarPor('-Ordenanzanumero')"></span>
                        </th>
                        <th>
                            Tema
                        </th>
                        <th>
                            <a href="" ng-click="ordenarPor('Ordenanzaunidad')">
                                Unidad
                            </a>
                            <span class="caret" style="cursor:pointer" ng-click="ordenarPor('-Ordenanzaunidad')"></span>
                        </th>
                        <th>
                            <a href="" ng-click="ordenarPor('Ordenanzafechacarga')">
                                Fecha
                            </a>
                            <span class="caret" style="cursor:pointer" ng-click="ordenarPor('-Ordenanzafechacarga')"></span>
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="registro in accounts | filter:search | orderBy:ordenSeleccionado">
                        <td>{{registro.Ordenanzaanio}}</td>
                        <td>{{registro.Ordenanzanumero | uppercase}}</td>
                        <td>{{registro.Ordenanzatema}}</td>
                        <td>{{registro.Ordenanzaunidad | currency}}</td>
                        <td>{{registro.Ordenanzafechacarga | date:'dd/MM/yyyy'}}</td>
                         <td>
                            <button class="btn btn-success" ng-click="selectRegistry(registro)">
                                <span class="glyphicon glyphicon glyphicon-zoom-in"></span>
                            </button>
                        </td>
                    </tr>
                </tbody> <!-- Los pagos realizados van aquí-->
            </table>                            
        </div>
    </div>
</div>