<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h3>Inicio</h3>
<br>
<br>
<br>	
<div class="row text-center" role="group" aria-label="...">
            <div class="col-md-4 "><button type="button" class="btn btn-info btn-lg">Busqueda de Ordenanzas</button></div>
            <div class="col-md-4"><button type="button" class="btn btn-info btn-lg">Registro</button></div>
            <div class="col-md-4"><button type="button" class="btn btn-info btn-lg">Ordenanzas Propuestas</button></div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>